@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  /*Neutra;*/
  --Grayish-blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  background-color: var(--Dark-Blue);
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--Dark-Grayish-Blue);
  position: relative;
  text-align: center;
  padding: 2rem 4rem;
  border-radius: 10px;
  max-width: 25rem;
  box-shadow: 1px 1px 20px #0000001c;
}

#advice {
  text-transform: uppercase;
  color: var(--Neon-Green);
  font-weight: 100;
  letter-spacing: 5px;
}

#advice-text {
  color: var(--Light-Cyan);
  font-size: 1.75;
}

.pattern-divider {
  content: "";
  margin: 1.3rem auto;
  background: url("./images/pattern-divider-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 1rem;
  width: 100%;
}

.dice-icon {
  content: "";
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  background: url("./images/icon-dice.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--Neon-Green);
  padding: 1rem;
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}

.dice-icon:hover {
  box-shadow: 0px 0px 20px 1px var(--Neon-Green);
}

@media only screen and (max-width: 500px) {
  .card {
    margin: 0 1.4rem;
    padding: 2rem 1.5rem;
  }

  .dice-icon {
    padding: 1.2rem;
  }

  .pattern-divider {
    background-image: url("./images/pattern-divider-mobile.svg");
  }

  #advice {
    font-size: 0.9rem;
  }

  #advice-text {
    font-size: 1.5rem;
    margin: 2rem auto;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
